* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: hsl(221, 100%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    max-width: 375px;
    width: 100%;
    background-color: white;
    border-radius: 24px;
    overflow: hidden; 
}

.result {
    background: linear-gradient(
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%)
    );
  color: white;
  text-align: center;
  padding: 2 rem;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.score {
    background: linear-gradient(
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0)
    );
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.value {
    font-size: 3rem;
    font-weight: 800;
}
.total {
    opacity: 0.5;
}
.result h2 {
    margin-bottom: 1.25rem;
}
h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    font-weight: 600;

}
.info {
    opacity: 0.5;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.summary {
    padding: 1rem;
}
.stats-heading {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    border-radius: 12px;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 0.95rem;
    font-weight: 700;
}
.left {
    display: flex;
    margin-left: 1rem;
}
.left img {
    height: 20px;
    width: 20px;
    margin-right: 1rem;
}
.right {
    color: hsl(224, 30%, 27%);
    margin-right: 1rem;
}
.right span {
    color: hsl(224, 30%, 27%);
    opacity: 0.5;
    font-weight: 500; 
}
.reaction {
  background: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}

.memory {
  background: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}

.verbal {
  background: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}

.visual {
  background: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}

button {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: hsl(224, 30%, 27%);
    border-radius: 999px;
    cursor: pointer;
    
}

.attribution {
    margin: 12px auto;
    position: absolute;
}

@media(min-width: 768px) {
    .card {
        display: flex;
        max-width: 720px;
        align-items: stretch;
    }
    .result,
    .summary {
        flex: 1;
    }
    .result {
        border-radius: 24px;
        text-align: center;
    }
    .attribution {
        position: absolute;
        bottom: 0px;
    }
}